.provider {
  display: flex;
  align-items: center;
  flex-basis: 150px;
  flex-shrink: 0;
  white-space: normal;
  font-family: "MyriadPro-lightsemiext", sans-serif;
  @media(max-width: 1070px) {
    flex-basis: 130px;
  }
  @media (max-width: 920px) {
    margin-right: 1rem;
  }
  &:hover {
    .provider__pic {
      display: none;
      &--hover {
        display: block;
      }
    }
  }
  &__img {

    margin-right: 0.4rem;
    display: flex;
    align-items: center;
  }
  &__pic {
    width: 2.2rem;
    height: 2.2rem;
    &--hover {
      display: none;
    }
  }
  &__text {
    font-size: .875rem;
    color: #777777;
    @media(max-width: 920px) {
      width: 60%;
      font-size: 10px;
    }
  }
}
